.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Prevent mobile browser chrome from affecting height */
  top: 0;
  left: 0;
}

.videoContainer {
  display: none;
}

.visualizationContainer {
  width: 100%;
  height: 100%;
  touch-action: none; /* Prevents default touch behaviors */
  max-width: 800px;
  max-height: 800px;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.canvas {
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
